.menuItem{
    padding:15px;
    
    display:flex;
}
.menuItem:hover{
    background-color: rgba(135, 207, 235, 0.514);
    cursor: pointer;
}
.menuItem .label{
    color: white;
    justify-self: left;
    margin-right:10px;
    align-self: middle;
    font-size:15px;
}