.body{
    min-height:100vh;
    overflow: auto;
    background-color: #2e2e46;
    padding-right:8%;
    padding-left:13%;
    padding-top:76px;
}

.body .bodyContainer{
    position:relative;
    padding:30px;
    display: block;
    height:auto;
    
}


.body .container .menuOpened{
    padding-left:250px;
}

.body .container .mainContent{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    font-size:25px;
    color:rgb(65, 65, 65); 
}