.body{
    min-height:100vh;
    overflow: auto;
    background-color: rgb(230, 230, 227);
    padding-right:7%;
    padding-left:7%;
}

.body .container{
    margin-top:100px;
    position:relative;
    background-color:white;
    border: 1px black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.301);
    padding:15px;
    display: block;
    height:auto;
    
}


.body .container .menuOpened{
    padding-left:250px;
}

.body .container .mainContent{
    position:relative;
    font-size:25px;
    color:rgb(65, 65, 65);
    min-height:70% !important;
}