
.container{
    position:fixed;
    top:0;
    background-color: #363a53;
    height: 56px;
    width:100vw;
    padding:10px;
    color:rgb(230, 230, 230);
}

.container .title{
    margin-left:225px;
    display:inline-block;
    vertical-align: middle;
    font-size:32px;
    font-weight: bold;
}

.navigation{
    
    display: inline-block;
    color:white;
    width:250px;
    margin-left:400px;
    height:100%;
    justify-content: space-between;
    align-items: center;
}

.navigation .link{
    color:white;
    font-size:19px;
    margin-top: 5px;
    margin-left:20px;
    display:inline-block;
    vertical-align: middle;
    text-decoration: none;
}