
.container{
    position:fixed;
    display:flex;
    justify-content: space-between;
    top:0;
    background-color: #363a53;
    height: auto;
    width:100vw;
    padding:10px;
    color:rgb(230, 230, 230);
}

.container .title{
    margin-left:5%;
    vertical-align: middle;
    font-size:32px;
    font-weight: bold;
}

.navigation{
    color:white;
    width:250px;
    height:100%;
    margin-right: 100px;
}

.navigation .link{
    color:white;
    font-size:19px;
    margin-top: 5px;
    margin-left:20px;
    display:inline-block;
    vertical-align: middle;
    text-decoration: none;
}