.stocksInput{
    height:35px;
    font-size: 20px;
    padding-left:10px;
}

.stocksContainer{
    width:40%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.356) !important;
    display: inline-block;
    
}

.stocksContainer .stocksContainerItem{
    width:100%;
    padding:20px;
    height:20px;
    font-size:16px;
    cursor:pointer;
}

.stocksContainer .stocksContainerItem .stocksContainerItemSymbol{
    color:rgb(40, 154, 255);
    margin-right:10px;
}

.stocksContainer .stocksContainerItem:hover{
    background-color:rgb(180, 220, 255);
}

.stocksContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.stocksContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.stocksContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.stocksContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stocksInfo{
    float:right;
    height: 400px;
    width:59%;
    background-color:rgb(20, 20, 70);
}